<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <div class="row">
      <h1 style="color:aliceblue ; ">Event Management</h1>
      <div class="col-md-12 bg-light text-right">
        <button (click)="clickAddEmploye()" type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-success">Add Employee</button>
      </div>
    </div>
  </div>
</nav>


<div id="pricing" class="container-fluid">
  <table class="table mt-3 table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Employee Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email Id</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Salary</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of employeeData">
        <td>{{row.id}}</td>
        <td>{{row.firstName}}</td>
        <td>{{row.lastName}}</td>
        <td>{{row.email}}</td>
        <td>{{row.mobile}}</td>
        <td>{{row.salary}}</td>
        <td>
          <button (click)="onEdit(row)" style="color:aliceblue;" type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-info mx-3">Edit</button>
          <button (click)="deleteEmployee(row)" class="btn btn-danger mx-4">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" placeholder="Enter First Name">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1" placeholder="Enter last Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Phone Number</label>
            <input type="text" formControlName="mobile" class="form-control" id="exampleInputPassword1" placeholder="Enter Phone number">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Salary</label>
            <input type="text" formControlName="salary" class="form-control" id="exampleInputPassword1" placeholder="Enter Salary">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
        <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>